.container {
  padding: 35px 300px 0;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #f1f1f1;
}

.header {
  display: flex;

  flex-direction: column;
}

.top-header {
  display: flex;
  justify-content: flex-end;
  gap: 85px;
}

.acc-link {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 8px;
}

.nav {
  margin-top: 60px;
  display: flex;
  gap: 45px;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

.product {
  margin-top: 81px;
  display: flex;
  gap: 100px;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.shop-now {
  width: 165px;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 26px;
  background-color: #1e2832;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 29px;
  line-height: 55px;
}
